name: ci
on:
  pull_request:
  push:
    branches-ignore:
      - 'dependabot/**'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - run: make lint
    - run: make fmt
    - name: Verify repo is up-to-date
      run: |
        if [ -n "$(git status --porcelain)" ]; then
          echo 'Updates required:'
          git status
          exit 1
        fi

  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: true
    - name: Run tests
      run: make test
