name: system-test

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-system-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # This step is skipped if the pull request is from a forked repository.
      # In that case the job just creates a green status check on the pull request.
      - if: github.event.pull_request.head.repo.full_name == github.repository
        uses: ./.github/actions/system-test
        with:
          vault-url: ${{ secrets.VAULT_ADDR }}
          vault-role-id: ${{ secrets.VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.VAULT_SECRET_ID }}
